<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>
<body>
  <!-- logged in user nav bar here -->
  <main>
    <section>
      <div class="carousel-container">
        <div class="carousel-text">
          <p>Top 25 Recipes</p>
        </div>
        <div class="recipe-carousel">
          <img src="../static/media/recipe1.jpg" alt="rice bowl">  <!-- will eventually change to dynamically updated images that link to recipes -->
          <img src="../static/media/recipe2.jpg" alt="noodles">
          <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
          <img src="../static/media/recipe1.jpg" alt="rice bowl">
          <img src="../static/media/recipe2.jpg" alt="noodles">
          <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
        </div>
      </div>
    </section>
    <section>
      <div class="carousel-container">
        <div class="carousel-text">
          <p>Friend Activity</p>
        </div>
        <div class="recipe-carousel">
          <img src="../static/media/recipe1.jpg" alt="rice bowl">  <!-- will eventually change to dynamically updated images that link to recipes -->
          <img src="../static/media/recipe2.jpg" alt="noodles">
          <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
          <img src="../static/media/recipe1.jpg" alt="rice bowl">
          <img src="../static/media/recipe2.jpg" alt="noodles">
          <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
        </div>
      </div>
    </section>
  </main>
  <!-- footer here -->

</body>
</html>