<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>
<body>
  {% include 'navbar.html' %}
    <main>
        <section>
            <div class="carousel-container">
                <div class="carousel-text">
                    <p>Trending Recipes</p>
                </div>
                <!-- trending -->
                <div class="recipe-carousel" id="topRecipesCarousel">
                    <!-- JS handles this -->
                </div>
            </div>
        </section>

        <section>
            <div class="carousel-container">
                <div class="carousel-text">
                    <p>Friend Activity</p>
                </div>
                <!-- friend activity -->
                <div class="recipe-carousel" id="friendActivityCarousel">
                    <!-- JS handles this -->
                </div>
            </div>
        </section>
    </main>

    <!-- footer here -->
    <script src="/static/js/home.js"></script>
</body>
</html>