<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing Page</title>
  <link rel="icon" href="/static/media/ratingimages/fullplate.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="../static/css/landingpage.css">
</head>
<body>
  <!--  -->
  <div class="hero">
    <nav>
        <div class="logo-body">
            <a href="/templates/landing.html">
            <img src="/static/media/ratingimages/fullplate.png" class="logo">
        </a>
        <span class="logo-name">Plated</span>
        </div>

        <ul>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/register">Create Account</a></li>

            <li><a href="/templates/register.html">My Journal</a></li>
            <li class="find-body">
                <a href="#">Find ▾</a>
                <div class="find-struct">
                    <a href="/templates/recipes_page.html" class="f-drop-down-link">
                        <p>Recipes</p>
                        <span></span>
                    </a>
    
                    <a href="#" class="f-drop-down-link">
                        <p>Lists</p>
                        <span></span>
                    </a>
    
                </div>
            </li>
        </ul>

        <div class="search-bar">
            <input type="text" placeholder="Search recipes, lists...">
            <span class="search-icon">⌕
            </span>
        </div>

            <div class="drop-down-struct">
                <div class="drop-down">
                    <hr>
                </div>
            <a href="#" class="drop-down-link"> 
                <p>Profile</p>
            </a>
            <a href="#" class="drop-down-link">
                <p> Reviews</p>
            </a>
            <a href="#" class="drop-down-link">
                <p> Recipes</p>
            </a>
            <a href="#" class="drop-down-link">
                <p> Lists</p>
            </a>
            </div>
        </div>
        
    </div>
</nav>
</div>
  <!-- unregistered/not signed-in nav bar here -->
  <main>
    <div class="hero-text"><h1>PLATED</h1></div>
    <div class="hero-slideshow">
      <video muted autoplay playsinline class="hero-video" id="video1" style="z-index: 10; opacity: 1;">
        <source src="../static/media/hero1.mp4" type="video/mp4">
      </video>
      <video muted playsinline class="hero-video" id="video2">
        <source src="../static/media/hero2.mp4" type="video/mp4">
      </video>
      <video muted playsinline class="hero-video" id="video3">
        <source src="../static/media/hero3.mp4" type="video/mp4">
      </video>
      <video muted playsinline class="hero-video" id="video4">
        <source src="../static/media/hero4.mp4" type="video/mp4">
      </video>
    </div>
    <section>
      <div class="carousel-container">
        <div class="carousel-text">
          <p>Popular Recipes</p>
        </div>
        <div class="recipe-carousel">
          <img src="../static/media/recipe1.jpg" alt="rice bowl">  <!-- will eventually change to dynamically updated images that link to recipes -->
          <img src="../static/media/recipe2.jpg" alt="noodles">
          <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
          <img src="../static/media/recipe1.jpg" alt="rice bowl">
          <img src="../static/media/recipe2.jpg" alt="noodles">
          <img src="../static/media/recipe3.jpg" alt="spaghetti and meatballs">
        </div>
      </div>
    </section>
  </main>
  <!-- footer here -->

  <script src="../static/js/landing.js"></script>
</body>
</html>